body {
	margin: 0;
}

#indexbody {
	height: 100%;
	width: 100%;
	background-color: #998C86;
	position: relative;
	left: 0px;
	top: 0px;
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#signin {
	height: 68px;
	background-color: #75CC4D;
	width: 292px;	
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
  font-size: 26px;
  border-radius: 6px;
  font-family: "proxima-nova-soft",sans-serif;
  text-transform: uppercase;
}

#signup {
	height: 68px;
	background-color: #75CC4D;
	width: 292px;	
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
  font-size: 26px;
  border-radius: 6px;
  font-family: "proxima-nova-soft",sans-serif;
  text-transform: uppercase;
}