body {
	margin: 0;
}

#indexbody {
	height: 372px;
	width: 100%;
	background-color: #FF7C7A;
	position: relative;
	left: 0px;
	top: 0px;
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#signin {
	height: 68px;
	background-color: #75CC4D;
	width: 472px;	
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
  font-size: 42px;
  border-radius: 6px;
  font-family: "proxima-nova-soft",sans-serif;
}