* {
	padding: 0;
	border: 0;
}

body {
	margin: 0;
}

.header {
	background-color: #4D98CC;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 148px;
  width: 100%;
  left: 0px;
  top: 0px;
  position: relative;
  border: 0px;
  padding: 0px;
}

#logo {
	width: 112.5px;
	height: 91px;
}