* {
/*	padding: 0;
	border: 0;*/
}

body {
	margin: 0;
}

.header {
	background-color: #4D98CC;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 276px;
  width: 100%;
  left: 0px;
  top: 0px;
  position: relative;
  border: 0px;
  padding: 0px;
  border-bottom-style: solid;
  border-bottom-width: 16px;
  border-bottom-color: #4D88B2;
}

#logo {
	width: 225px;
	height: 180.5px;
}