<head>

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>

<body>



	<section id="indexbody">
		<section id="signin">
			Sign in
		</section><br>
		<section id="signup">
			Sign up
		</section>
	</section>


<ul>
	<h1>Forgotten your password?</h1>
		<form action="/forgotten_password">
		<button type="submit" value="Forgot password?">Forgot password?</button>
	</form>
	
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
  <% end %>
</ul>

<div id="new-link">
	<form action="/links" method="post">
		Url: <input type="text" name="url">
		Title: <input type="text" name="title">
		<input type="submit" value="Add link">
		<input type="text" name="tags">
	</form>
</div>

</body>