<head>

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>

<body>



	<section id="indexbody">
		<div id="new-link">
			<form action="/links" method="post">
				Url: <input type="text" name="url"><br>
				Title: <input type="text" name="title"><br>
				Tags:<input type="text" name="tags"><br>
				<input type="submit" value="Add link">
			</form>
		</div>
	</section>


<ul>
	<p>Forgotten your password?</p>
		<form action="/forgotten_password">
		<button type="submit" value="Forgot password?">Forgot password?</button>
	</form>
	
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>"><%= link.title %></a></li>
  <% end %>
</ul>

</body>