<head>

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>

<body>

	<section id="indexbody">
		<div id="new-link">
			<form action="/links" method="post">
				<input id="uri" class="forms" type="text" name="url" placeholder="Insert link here"><br>
				<input id="title" class="forms" type="text" name="title" placeholder="Title"><br>
				<input id="tags" class="forms" type="text" name="tags" placeholder="Tags"><br>
				<input id="submit" class="forms" type="submit" value="Add link" placeholder="Add Link">
			</form>
		</div>
	</section>

		<p>Forgotten your password?</p>
			<form action="/forgotten_password">
				<button type="submit" value="Forgot password?">Forgot password?</button>
			</form>
	
  <% @links.each do |link| %>
    <li id="links"><a href="<%= link.url %>"><h2><%= link.title %></a></h2><h4><%= link.url %></h4><br></li>
  <% end %>

</body>